body{
	padding: 10px;
	text-align: center;
	background: #EAFAF1;
}

.border{
	width: 320px;
	height: 600px;
	padding: 20px;
	background: #ABEBC6;
	color: #888;
	text-align: center;
	border: 3px solid #999;
	border-radius: 6px;
}